<div class="header__container">
    <h2 class="header__container--title">Dummy Shop</h2>
    <div class="header__container--searcher">
        <input class="header__container--input" type="text" />
        <svg class="header__container--icon" viewBox="0 0 512 512">
            <use xlink:href="assets/sprites.svg#loupe" />
        </svg>
    </div>
    <div class="header__container--account">
        <div class="header__container--my-account">Account</div>
        <div class="header__container--my-favourites">Favourites</div>
        <div class="header__container--my-account">Cart</div>
    </div>
</div>