.navigation{
    display:flex;
    justify-content: space-evenly;
    border:2px solid purple;
    li{
        list-style-type: none;
       a{
        text-decoration: none;
        font-family: sans-serif;
        font-weight: bold;
       }
    }
}